@keyframes fallDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: fallDown 500ms ease-in-out forwards;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #fefefe, rgb(0, 247, 255));
  text-align: center;
}

.container {
  animation: fallDown 1.2s ease-out forwards;
  margin: 50px auto;
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

a {
  transition: all 0.8s ease;
  padding: 10px 20px;
  background: rgb(20, 152, 156);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

a:hover {
  transform: scale(1.2);
}