@keyframes fadeInUp {
  from {
    opacity: 2;
    transform: translateY(30px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
}


.container {
  animation: fadeInUp 0.8s ease-out forwards;
}



body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fefefe, rgb(0, 247, 255));
    text-align: center;
}

.container {
    margin: 80px auto;
    width: 180px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
 

input {
    margin: 1px auto;

    background: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
button {
    transition: all 0.8s ease;
    padding: 10px 20px;
    background: rgb(20, 152, 156);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}


.question-counter {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(36, 130, 133);
}
